*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 50px;
    border: 1px solid red;
    padding:5px ;
}

p,h1{
    margin-bottom: 10px;
}

button,a,li,ul,p,h1{
    border: 1px solid red; 
    padding: 5px;
}

ul{
    padding: 10px;
}

.btn{
    margin-top: 10px;
}